* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #F0F1F2;
    color: #292A2E;
    font-family: "Inter", sans-serif;
}

/* layout */

header,
main,
footer {
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
}

header {
    padding: 24px;
}

footer {
    padding: 0px 24px 24px;
}

footer p {
    padding-top: 24px;
    border-top: 1px solid #DDDEE1;
}

main {
    flex: 1;
    padding: 0 24px 24px;
}


/* logo */

header a.logo {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 8px;
    background: #FE0026;
}

/* spacing */

section {
    margin: 24px 0;
}

/* typography */

h1,
h2 {
    margin-bottom: 4px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
}

p {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #6B6E76;
}

/* lists reset */

.cases,
.links {
    list-style: none;
}

/* cases */

.case {
    display: flex;
    align-items: baseline;
    gap: 4px;
}

.case + .case {
    margin-top: 4px;
}

.case a {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #6B6E76;
    text-decoration: underline;
    text-underline-offset: 2px;
    transition: color .25s ease;
}

.case a:hover {
    color: #292A2E;
}

.case span {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #6B6E76;
}

.case-divider {
    border-bottom: 1px solid #DDDEE1;
}

/* links */

.links li {
    display: flex;
    align-items: baseline;
    gap: 4px;
}

.links li + li {
    margin-top: 4px;
}

.links span {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #6B6E76;
}

.link {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #6B6E76;
    text-decoration: underline;
    text-underline-offset: 2px;
    transition: color .25s ease;
}

.link:hover {
    color: #292A2E;
}

/* case page */

.case-image {
    margin: 24px 0;
}

@media (min-width: 688px) {
    .case-image {
        margin: 24px -64px;
    }
}

.case-image img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 16px;
}

.case-page p,
.case-page li {
    color: #3B3D42;
}

.results {
    padding-left: 20px;
}

.results li {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
}

.results li + li {
    margin-top: 4px;
}

.callout{
    padding: 16px;
    border-radius: 8px;
    background-color: #FFFFFF;
}

/* footer */

footer p {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #6B6E76;
}
